rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // ===============================================================
    // Assumed Data Model
    // ===============================================================
    //
    // Collection: blog_posts
    // Document ID